@model Ropey.Models.Dvdtitle

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dvdtitle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dvdtitle1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dvdtitle1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReleased)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReleased)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryNumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryNumberNavigation.CategoryNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducerNumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducerNumberNavigation.ProducerNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudioNumberNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudioNumberNavigation.StudioNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Dvdnumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
